/* HEADER */

.header {
    position:sticky;
    z-index:1;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
}

/* CONTACT HEADER */
.contact-outer-header {
    height:40px;
}

.contact-inner-header {
    /* background-color: blue; */
    display:flex;
    height:100%;
}

.contact-div {
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-size:1rem;
}

.contact-method {
    font-weight: 500;
    display:flex;
    flex-wrap:nowrap;
    gap:5px;
    align-items:center;
}

@media (max-width:1040px) {
    .contact-mail {
        display:none;
    }
}

.contact-message {
    display:flex;
    gap:5px;
    flex-wrap:nowrap;
}

@media (max-width:820px) {
    .contact-to-action {
        display:none;
    }
}

@media (max-width:660px) {
    .contact-message {
        display:none;
    }
}

/* NAVIGATION HEADER */
.nav-outer {
    background-color: pink;
}

nav { 
    position:absolute; /* absolute means not affected by element flow */ /* later in a media query, this navbar is set to sticky so it is always visible to mobile users */
    top:50;
    left:0;
    width: 100%;
    height:min-content;
    padding:.7rem 5%;
}

nav::before { /* pseudo-element so that the backdrop-filter works even when the media query is active */
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.nav-container { 
    display:flex;
    justify-content: space-between; /* spread out the elements inside */
    align-items: center;
}
.icons {
    position:absolute;
    right:5%;
    font-size: 2.8rem;
    color: var(--white2);
    cursor:pointer;
    display:none;
}

.icons {
    right:5%;
    font-size: 2.8rem;
    color: var(--white2);
    cursor:pointer;
    display:none;
}

#menu-check { /* never display this because it is an invisible checkbox  */
    display:none;
}
#menu-close { /* menu-close is not displayed by default, but only when menu-check is checked (later in the media query) */
    display:none;
}

.nav-container > ul {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    margin-left:2.5rem;
}

.nav-container > ul > li > a {
    font-size: 1.15rem;
    color:var(--white2);
    font-weight:500;
}

.nav-container > ul > li > a:hover {
    color: rgb(200, 200, 200); /* a slight whitish gray */
}

/* HEADER MEDIA QUERIES */

@media (min-width:962px) { /* if the window is below 962px, then make the following element take on the following properties */
    .nav-container {
        width:867px;
        margin-inline:auto;
    }
}

@media (max-width:680px) {
    .contact-outer-header {
        display:none;
    }
    nav {
        position:fixed; 
        top:0;
        left:0;
        z-index:1;
        padding:1.7rem 5%;
    }

    .icons {
        display:inline-flex;
    }

    /* find element with id "menu-check" 's pseudo-class checked must be true 's sibling that is class "icons" 's item with id "menu-open"  */
    #menu-check:checked ~ .icons > #menu-open { 
        display:none;
    }

    #menu-check:checked ~ .icons > #menu-close{
        display:block;
    }

    .nav-container > ul {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        margin-left:0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        
        flex-direction: column;
        overflow: hidden;

        max-height: 0;
        transition: max-height .3s ease; /* animation transition */
    }
    #menu-check:checked~ul {
        max-height:600px;
        transition: max-height 0.3s ease;
    }

    .nav-container > ul > li {
        display:block;
        font-size:1.1rem;
        margin:1.5rem 0;
        text-align: center; 
    }


}

.nav-logo {
    color:white;
    display:none;
    justify-self: center;
    align-self:center;
}
@media (max-width:680px) {
    .nav-logo {
        display: block;
        position:fixed;
        top:6px;
    }
}